<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to drchrono Appointment</title>
</head>
<body>
	{% for appointment_dict in appointments %}
		<h1>{{ appointment_dict.first_name }} {{ appointment_dict.last_name }}</h1>
		<ul>
			<li>Status: {{ appointment_dict.status }}</li>
			<li>Schedule Time: {{ appointment_dict.scheduled_time }}</li>
			<li>Exam Room: {{ appointment_dict.exam_room }}</li>
			<li>Reason: {{ appointment_dict.reason }}</li>
			<li>Notes: {{ appointment_dict.notes }}</li>
		</ul>
	{% endfor %}

</body>
</html>